node_modules/
.expo/
dist/
npm-debug.*

# Expo
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
build_debug.*
build_error.*
build_log.*

# Metro
.metro-health-check*

# debug
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# local builds
builds/

# Firebase
firebase.json
google-services.json
.firebase
firebase-debug.log
firebase-debug.*.log

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# GitHub Copilot
.github/copilot-instructions.md

# Yarn
.yarn/

.eslintcache
